<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href = "../Stylesheets/auth.css" rel = "stylesheet" type = "text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../Scripts/validate.js"></script>
    <link rel="icon" href="../Images/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="container">
    <main>
        <h1>Register</h1>
        <form action="../Controllers/register.php" method="post">
        <label for="name">Name:</label><input name="name" type="text" id="name" placeholder="Enter Your Name" required>
        <label for="email">Email:</label><input name="email" type="text" id="email" placeholder="Enter Your Email" oninput="validateForm()" required>
        <label for="password">Password:</label><input name="password" type="password" id="password" placeholder="Enter Your Password" oninput="validateForm()" required>
            <ul id="passwordRules">
                <li id="length">At least 8 characters</li>
                <li id="upper">At least one uppercase letter</li>
                <li id="lower">At least one lowercase letter</li>
                <li id="number">At least one number</li>
                <li id="special">At least one special character</li>
            </ul>
        <label for="confirmPassword">Confirm Password:</label><input type="password" id="confirmPassword" placeholder="Confirm Your Password" oninput="validateForm()" required>
        <label for="showPassword">Show Password:<input type="checkbox" id="showPassword" onchange="show()"></label>
            <input id="register" type="submit" value="Register" disabled>
        </form>
    </main>

</div>
</body>
</html>