body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgba(45,0,255,0.73);
    margin: 0;
}

.container {
    width: 100%;
    margin: 100px 0 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0 0 20px;
    font-size: 3rem;
    color: white;
    text-align: center;
}

.profile {
    width: 100%;
    display: flex;
    justify-content: center;
}

.info, .stats {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    min-width: 400px;
    background-color: white;
    height: fit-content;
    border-radius: 50px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    padding-top: 0;
}

input {
    width: 80%;
    height: 30px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 5px 0 5px 15px;
}

input:focus {
    outline: none;
}

input:disabled {
    background-color: #efefef;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

label {
    padding-top: 5px;
    width: 80%;
    color: rgba(45,0,255,0.73);
}

input[type="checkbox"] {
    width: 20px;
    height: 13px;
    margin: 5px;
}

ul {
    width: 80%;
    display: flex;
    flex-direction: column;
}

li {
    font-size: 0.7rem;
    color: rgba(45,0,255,0.73);
}

.valid {
    box-shadow: 0 0 5px 1px  rgba(164, 253, 164, 0.73);
}

.invalid {
    box-shadow: 0 0 5px 1px  rgba(255, 57, 57, 0.73);
}

input[type="submit"], #register {
    margin: 20px 0 10px;
    width: 80%;
    height: 40px;
}

input[type="submit"]:enabled , #register {
    background-color: rgba(45,0,255,0.73);
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

h2 {
    color: rgba(45,0,255,0.73);
    font-size: 2rem;
    font-weight: bold;
}

.stat {
    width: 80%;
    padding: 20px;
    font-weight: bold;
    color: rgba(45,0,255,0.73);
    border-radius: 30px;
    transition: 0.2s;
    &:hover {
        transition: 0.2s;
        background-color: rgba(45,0,255,0.73);
        color: white;
        cursor: pointer;
    }
}